@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  @apply w-full;
}

td,
th {
  @apply border border-2 border-white p-2 text-left;
}

tr:nth-child(1) {
  @apply bg-violet-500 text-white;
}

tr:nth-child(even) {
  @apply bg-slate-300;
}

tr:not(:first-child):nth-child(odd) {
  @apply bg-slate-400;
}
