.header {
  height: 70px;
  background-color: darkviolet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.content-section {
  margin: 20px 10%;
}
